body{
    background-color:#AA96DA;
    color: black;
}

.app{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-items: center;
    background-color: #f3f3f3;
    border-radius: 15px;
    padding: 10px;
    color: black;
    min-height: 600px;
}



.app--input{
    border: none;
    font-family: 'Inter', sans-serif;
    height: 20px;
    font-size: medium;
    padding-left: 8px;
    background-color: #f3f3f3;;
    color: black;
    
}

.app--submit{
    border-radius: 15px;
    border: none;
    margin-left: 10px;
    margin-right: 4px;
    margin-top: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    align-self: center;
    width: 60px;
    background-color: #C5FAD5;
    border: black;
    border-width: 2px;
    color: black;
}

.note{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.note--delete{
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-right: 1px;
    background-color: rgb(252, 194, 194);
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.note--edit{
    border: none;
    border-radius: 3px;
    margin-right: 7px;
    padding: 5px;
    background-color: #fafaaf;
    color: white;
    font-weight: bold;
    margin-left: 3px;
    border: none;
}

.note--line{
    height: 1px;
    background: #dbeaf4;
    border: none;

}

.note--editMode{
    margin: 0;
}

.note--editMode--input{
    border: none;
    background-color: rgb(15, 54, 86);
    color:white;
    border-radius: 3px;
    font-family: 'Inter', sans-serif;
    font-size:16px;
    margin: 0;
    margin-left: 2.5px;
    margin-top: 1.5px;
    padding-bottom: 0.5px;
}

.note--editMode--input:focus{
    outline: none;
}
